    * {
        margin: 0;
        box-sizing: border-box;
    }

    :root {
        --fill-left: #61C6FF;
        --fill-right: #FF6868;
        --fill-left-b: #E2A2E3;
        --fill-right-b: #D0E9FF;
        --mouse-x: 0px;
        --mouse-y: 0px;
    }

    html {
        background-color: black;
    }

    body {
        animation: appear ease-in 1s;
        cursor: none;
    }

    @keyframes appear {
        from {
        transform: rotateY(90deg);
        } to {
        transform: rotateY(0deg);
        }
    }

    .cursor {
        width: 10.4vw;
        height: 10.4vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1D282E;
        position: absolute;
        left: var(--mouse-x);
        top: var(--mouse-y);
        transform: translate(-50%, -50%);
    }

    .caption-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        padding: 20px;
        
    }

    .caption {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .c-top {
        flex-grow: 1;
    }

    .c-bottom {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .little>a {
        text-decoration: none;
        color: #FFEC3E;

        -moz-text-stroke-color: black;
        -webkit-text-stroke-color: black;
        -moz-text-stroke-width: 2px;
        -webkit-text-s  troke-width: 2px;
    }

    .little {
        writing-mode: vertical-lr;
        font-size: 6vw;
        line-height: 3vw;
        color: #FFEC3E;
        -moz-text-stroke-color: black;
        -webkit-text-stroke-color: black;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
    }

    .cursor-text {}

    .cursor-container {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 3;
        overflow: hidden;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        overflow: hidden;
        padding: 20px;
    }

    .shapes-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        z-index: -50;
        overflow: hidden;
    }

    .shapes-container>div {
        width: 50%;
    }

    .top {
        /* flex-grow: 1; */
        display: flex;
        flex-direction: column;
        padding-top: 0.5vw;
    }

    .bottom {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
        justify-content: flex-end;
        /* padding-left: 20px; */
    }


    .two1 {
        color: #FF6868;
        font-family: Times;
        font-style: italic;
    }

    .two2 {
        color: #61C6FF;
        font-family: Times;
        font-style: italic;
    }


    .text {
        font-family: Arial;
    }

    .col1 {
        color: #61C6FF;
        -moz-text-stroke-color: black;
        -webkit-text-stroke-color: black;
        -moz-text-stroke-width: 3px;
        -webkit-text-stroke-width: 3px;
    }

    .col2 {
        color: #FF6868;
        -moz-text-stroke-color: black;
        -webkit-text-stroke-color: black;
        -moz-text-stroke-width: 3px;
        -webkit-text-stroke-width: 3px;
    }

    .col3 {
        color: #FFEC3E;
        -moz-text-stroke-color: black;
        -webkit-text-stroke-color: black;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
    }


    .left path {
        fill: var(--fill-left);
    }


    .right path {
        fill: var(--fill-right);
    }


    .left-b path {
        fill: var(--fill-left-b);
    }

    .right-b path {
        fill: var(--fill-right-b);
    }

    .mobile-c {
        display: none;
    }

    .big {
        font-size: 21vw;
        letter-spacing: -0.5vh;
        line-height: 16vw;
    }

    .small {
        font-size: 6vw;
        letter-spacing: -0.1vh;
    }

    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (min-aspect-ratio: 16/9) {
        .fullscreen-bg__video {
            height: 300%;
            top: -100%;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .fullscreen-bg__video {
            width: 300%;
            left: -100%;
        }
    }

    @media (max-width: 767px) {
        .fullscreen-bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -100;
        }

        .fullscreen-bg__video {
            position: absolute;
            top: 0;
            left: -200%;
            width: 500%;
            height: 100%;
        }
    }

    @media (max-width: 420px) {



        .shapes-container {
            display: none;
            width: 100%;
            height: calc(var(--vh, 1vh) * 100);
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: -50;
            overflow: hidden;
        }

        .shapes-container>div {
            width: 100%;
            max-height: 50%;
        }

        .cursor {
            display: none;
        }

        .col1 {
            /* writing-mode: sideways-lr; */
            -moz-text-stroke-width: 2px;
            -webkit-text-stroke-width: 2px;

        }

        .col2 {
            /* writing-mode: sideways-lr; */
            -moz-text-stroke-width: 2px;
            -webkit-text-stroke-width: 2px;
        }


        .col3 {
            -moz-text-stroke-width: 1px;
            -webkit-text-stroke-width: 1px;
        }

        .container {
            display: none;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column-reverse;
            align-content: space-around;
            overflow: hidden;
        }

        .top {
            flex-direction: column;
            writing-mode: vertical-lr;
        }

        .big {
            font-size: 18vh;
            letter-spacing: -0.5vh;
            line-height: 14vh;
        }

        .bottom {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .small {
            font-size: 15vw;
            letter-spacing: -0.1vh;
            line-height: 13vw;
        }

        .little {
            writing-mode: tb-rl;
            font-size: 10vw;
            line-height: 9vw;
            color: #000;
        }

        .caption-container {
            display: none;
        }

        .cursor-container {
            display: none;
        }

    }